---
layout: post
sidebar: []
---

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
      <table class="pub-table">
          <tr>
              <th>Name</th>
              <th>Owner</th>
              <th>Neameology</th>
              <th>Rating</th>
          </tr>
          <tr>
              <td>{{ page.pub.name }}</td>
              <td>{{ page.pub.owner }}</td>
              <td>{{ page.pub.can_neame }}</td>
              <td>{{ page.pub.rating }}</td>
          </tr>
      </table>

      <div id="pub-map"></div>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {% assign contentArray = page.content | markdownify | split: site.excerpt_separator %}
    <div class="tab">
      <button class="tablinks" onclick="openPerson(event, 'tab-rhys')" id="defaultOpen">Rhys' Review</button>
      <button class="tablinks" onclick="openPerson(event, 'tab-jack')">Jack's Review</button>
    </div>

    <div id="tab-rhys" class="tabcontent">
      {{ contentArray.first }}
    </div>

    <div id="tab-jack" class="tabcontent">
      {{ contentArray.last }}
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.js"
 integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
 crossorigin=""></script>
<link
  rel="preload"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
  />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.css"
 integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
 crossorigin=""/>

{% if page.pub.location %}
<script>
var map = L.map('pub-map').setView([{{ page.pub.location }}], 20);

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

L.marker([{{ page.pub.location }}]).addTo(map)
    .bindPopup('{{ page.pub.name }}')
    .openPopup();
</script>
{% endif %}

<script>
function openPerson(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
} 

document.getElementById("defaultOpen").click();
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{site.url}}{{page.url}}"
  },
  "headline": "{{ page.title }}",
  "image": "{{ page.banner }}",
  "author": {
    "@type": "Person",
    "name": "{{ page.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "faversham.pub"
  },
  "datePublished": "{{ page.date | date_to_xmlschema }}"
}
</script>
